body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

pre { font-family: monospace; }
h1, h2, h3, h4, h5, h6 { color: #444; }
img { max-width: 100%; }
section {
  padding: 50px;
  font-size: 1.2em;
  line-height: 1.7;
}
section p { margin: 40px 60px 0 0 }
section h1 { font-weight: 700 }

.maxWidthContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.content { padding: 1rem; }

.logo {
  padding: 16px;
  background: #f0f2f4;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.installation {
  background: gainsboro;
  height: 300px;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
}
.installation .anticon {
  font-size: 100px;
}
.installation .code-snippet{
  width: 100%;
  padding: 25px;
  background: #f0f2f4;
  display: flex;
  justify-content: flex-start;
  /* shadow */
  max-width: 1000px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.installation pre {
  font-family: monospace;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 0 0 0 50px;
  font-size: 1.25em;
}
.ant-layout-header {
  height: 77px;
}
.ant-layout-header h1 {
  color: white;
  font-size: 2.5em;
  line-height: 2em;
}

.what-is-it .explanation{

}

@media (max-width: 885px) {
  .installation i {
    display: none;
  }
  .installation pre { margin-left: 10px }
}

